/archive
/databases-handout.aux
/databases-handout.bbl
/databases-handout.blg
/databases-handout.log
/databases-handout.nav
/databases-handout.out
/databases-handout.pdf
/databases-handout.snm
/databases-handout.toc
/databases-notes.aux
/databases-notes.bbl
/databases-notes.blg
/databases-notes.log
/databases-notes.out
/databases-notes.pdf
/databases-notes.toc
/databases-slides.aux
/databases-slides.bbl
/databases-slides.blg
/databases-slides.log
/databases-slides.nav
/databases-slides.out
/databases-slides.pdf
/databases-slides.snm
/databases-slides.toc
/dist-sys
/exercises.tex
/moviedb-2025
/moviedb-generator
/slides-2025
/solutions.aux
/solutions.log
/solutions.out
/solutions.pdf
/supervisions-2025
